.form-control{
    
    width: 250px;
    font-size: large;
    
    
    
}


.form-group{
    font-size: xx-large;
    width: 110%;
    background-color: rgb(124, 119, 119);
    overflow: auto;
    color: black
 
 
    
 
}

fieldset{
    align-items: center;
    color: rgb(12, 11, 11);
    font-size: xx-large;
    max-width:500px;
    /* padding:8px;	 */
    border-radius:8px;
    border-color: purple;
    border-width: 7px;
    border-style: solid;
}    
    
  


legend{
    color: #f1df37;
    font-size: 40px;
    
    
}

.user{
    font-size: x-large;
    color: #f1df37;
	
	
				
}
.pass{
    
    
    text-align: left;
    color: #f1df37;
    font-size: x-large;
	
	
}


.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 50%;
}    

.btn{
    border-radius: 47%;
    padding: 8px;
    font-size: 15px;
    background-color: purple;
    color: #f1df37;
}      



