.form-group{
    font-size: x-large;
    width: 100%;
    background-color: rgb(124, 119, 119); 
    overflow: auto;
    color: black;
 
 
    
 
} 

fieldset{
    align-items: center;
    color: black;
    font-size: x-large;
    max-width:525px;
    padding:10px;	 
    border-radius:8px;
    border-color: purple;
    border-width: 7px;
    border-style: solid;
     
    
  
} 

legend{
    color: #f1df37;
    
}

.username{
    color: #f1df37;
    font-size: x-large;
   
}
.firstname{
    color: #f1df37;
    font-size: x-large;
   
}
.lastname{
    color: #f1df37;
    font-size: x-large;
}

.middlename{
    color: #f1df37;
    font-size: x-large;
}

.password{
    color: #f1df37;
    font-size: x-large;
} 
.email1{
    color: #f1df37;
    font-size: x-large;
   
    
}

div{
    height: 100%; 
}

.textbox{
    color: black;
    font-style: italic;
}  